element {
    visibility: visible;
    background-color: rgb(64, 186, 177);
    width: 60px;
    height: 60px;
}

.ebbot {
    outline: none;
  }

.ebbot {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 1;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 16px #d2d2d2;
    z-index: 9999;
  }